<html>
	These routes return values in TIA:
    <ul>
  		<li><a href={{ .RouteCirculatingSupply }}>{{ .RouteCirculatingSupply }}</a></li>
		<li><a href={{ .RouteTotalSupply }}>{{ .RouteTotalSupply }}</a></li>
	</ul>
</html>
